* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes neonGlow {
    0%, 100% {
        text-shadow: 
            0 0 6px #008bfd, 
            0 0 12px #008bfd;
    }
    50% {
        text-shadow: 
            0 0 10px #008bfd, 
            0 0 20px #008bfd;
    }
}

.neon-logo {
    font-size: 2.5rem;
    margin: 25px;
    font-weight: bold;
    color: #fff;
    text-shadow: 
        0 0 6px #008bfd;
    animation: neonGlow 2s infinite alternate;
    text-decoration: none;
}

.navbar {
    background: linear-gradient(#790379, #2a0cb1);
}

.navbar-nav li a{
    color: #fff;
}

button.navbar-toggler {
    background-color: #fff;
}

main {
    min-height: 100vh;
}

footer {
    background: linear-gradient(#790379, #2a0cb1);
}
